<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    <title>{% block title %}Test Page{% endblock %}</title>
    <meta name="description" content="Blah blah">
    <meta name="author" content="me">

    <link rel="icon" type="image/png" href="/favicon.png">
   

    <link rel="stylesheet" href="/css/sheet.css">

    {% endblock %}
</head>

<body>


    <!-- {% block navbar %}{% endblock %} !-->


    {% block content %}{% endblock %}

</body>

</html>