	
{% extends "base.jinja" %}

{% block title %}Receiving{% endblock %}
{% block content %}

    <h1 class="title">Receiving</h1>

    <p>Content goes here</p>

    {% include "demo_image_1.html" ignore missing %}
{% endblock %}

