	
{% extends "base.jinja" %}

{% block title %}Edit movie{% endblock %}
{% block content %}
    <h1 class="title">Edit movie</h1>

    <form action="./addCheckBox" method="post" name="movie_edit">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
        {% for item in items %}
            <input type="checkbox" id="{{ item }}" name="part" value="{{ item }}">
            <label for="part">{{ item }}</label><br>
        {% endfor %}
        
        <button type = "submit">Submit input</button>

    </form>

    <form name="bar_input">
        <input type="text" id="bar_input" size="30" value="Focus here and press enter">
        <button type = "submit" id = "bar_submit">Submit input</button>
    </form>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
        {% include "script.js" %}
    </script>


{% endblock %}
