<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    <title>{% block title %}Test Page{% endblock %}</title>
    <meta name="description" content="Blah blah">
    <meta name="author" content="me">

    <link rel="icon" type="image/png" href="/favicon.png">
   

    <!-- <link rel="stylesheet" href="/css/sheet.css"> !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.5" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock %}
</head>

<body>

    <header>
        <h1>VOPP</h1>
    </header>

    <nav>
      <ul>
        <li><a href="./">Order</a></li>
        <li><a href="./shipping">Shipping</a></li>
        <li><a href="./receiving">Receiving</a></li>
      </ul>
    </nav>

    <!-- {% block navbar %}{% endblock %} !-->

    <main>
    {% block content %}{% endblock %}
    </main>

    <footer>
        Created by <b>Adam, David, Egle, Herby, and Louis - The Bowden Cables</b>
    </footer>

</body>

</html>