	
{% extends "base.jinja" %}

{% block title %}Receiving{% endblock %}
{% block content %}

    <script type="text/javascript">
        {% include "script.js" %}
    </script>


    <!-- <h1 class="row">Please check your order!</h1> !-->

    <div class = "column">

        {% for image in images %}
            {{ image|safe }}
        {% endfor %}

    </div>

        <div class = "column">

        <h1>Order Confirmation</h1>


        <p>Tick the items you have received</p>
        
        <form action="./receiving/missing_items" method="post">

            {% for item in items %}
                <input type="checkbox" id="{{ item }}" name="parts" value="{{ item }}">
                <label for="{{ item }}">{{ item }}</label><br>
            {% endfor %}

            <input type="checkbox" id = "packed" name = "parts" value = "not_correct">
            <label for="packed">Tick if you are NOT satisfied with the packing</label><br>
            <br>
            <button type = "submit">Submit Response</button>

        </form>

    </div>


    <style>
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

{% endblock %}

