	
{% extends "base.jinja" %}

{% block title %}Shipping{% endblock %}
{% block content %}

    <script type="text/javascript">
        {% include "script.js" %}
    </script>


    <h1 class="row">Edit movie</h1>

    <div class = "column">

    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/76/Louis_Vuitton_logo_and_wordmark.svg"></img>

    </div>

    <div class = "column">

    <form action="./shipping/addCheckBox" method="post">

        <input type="checkbox" id="4005800034091" name="parts" value=4005800034091 autocomplete="on">
        <label for="vehicle1">Plasters</label><br>

        <input type="checkbox" id="4005800034091" name="parts" value=4005800034091 autocomplete="on">
        <label for="vehicle1">Plasters</label><br>

        <input type="checkbox" id="9780007466061" name="parts" value=9780007466061 autocomplete="on">
        <label for="vehicle1">GoT</label><br>

        <input type="checkbox" id="9780340894347" name="parts" value=9780340894347 autocomplete="on">
        <label for="vehicle1">Book2</label><br>

        <input type="checkbox" id="9780007466078" name="parts" value="9780007466078" autocomplete="on">
        <label for="vehicle1">Got2</label><br>

        {% for item in items %}
            <input type="checkbox" id="{{ item }}" name="parts" value="{{ item }}">
            <label for="{{ item }}">{{ item }}</label><br>
        {% endfor %}
        
        <button type = "submit">Submit input</button>

    </form>

    <input type="text" id="bar_input" size="30" value="Focus barcode scanner here!" onfocus="this.value=''">


    <style>
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

{% endblock %}

